.whole-page {
  display: flex;
  flex-direction: row;

}

.user-list-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: fit-content;
  margin: auto;
}

.anime-list{
  position: fixed;
  top: 0;
  display: flex;
  margin: auto;
  width: fit-content;
  justify-content: center;
  z-index: 10;
}

.info-text{
  text-align: center;
  min-width: 100%;
  font-size: xxx-large;
}

.anime-list-enter {
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
