<header>
  <h1 class="info-text">Database last updated: 2025.03.08.</h1>
</header>
<body>
  <div class="whole-page">
    <div class="user-list-container">
      @for (user of (users$ | async); let i = $index; track user) {
        <app-user-card [user]="user"
          [placement]="i+1"
          (click)="onUserCardClick(user)"
        [class.selected]="isSelected(user)"></app-user-card>
      }
    </div>
<!--    <div class="anime-list">-->
<!--      @if (selectedUser) {-->
<!--        <app-anime-list [user]="selectedUser.name"></app-anime-list>-->
<!--      } @else {-->
<!--        <div class="placeholder">Select a user to view anime list</div>-->
<!--      }-->
<!--    </div>-->
  </div>
</body>
